.myBox {
    box-sizing: border-box;
    border: solid black 1px;
    background-color: darkgrey;
    /*padding: 1em;*/
    margin: auto;
}

.topNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.optionOne.optionTwo.optionThree {
    display: flex;

}

.optionOne>ul {
    display: flex;
    flex-direction: row;
}

.optionTwo>ul {
    color: black;
    font-size: 3em;
    padding: .2em 0 .2em 0;
}

.optionThree>ul {
    display: flex;
    flex-direction: row;
}


a {
    color: black;
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
}

ul {
    list-style: none;
}

a:hover {
  color: blue;
}