.myBox {
    box-sizing: border-box;
    border: solid black 1px;
    background-color: darkgrey;
    padding: 1em;
    margin: auto;
}

.topNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topNav>a {
    color: black;
    font-size: 3em;
    padding: .2em 0 .2em 0;
}

.optionOne{

    flex-direction: row;
}

a {

    color: black;
    display: inline-block;

}

ul {
    list-style-type: none;
}

a:hover {
  color: blue;
}