* {
    background: ;
}

table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}

.coff {
    padding-left: 4px;
    background-color: white;
    /*opacity: 0.75;*/
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.coffeeBeans {
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    object-fit: cover;
}

.cover {
    height: 100vh;
    width: 100%;
    display: flex;
    /*border: 3px solid #f4e0cb;*/
    /*margin: 50px;*/
}

.flex-form {
    z-index: 10;
    position: center;
    margin: auto;
    display: block;

}

img {
    height: 25px;
    width: 25px;
    position: relative;
}

#carouselExampleAutoplaying {
    height: 150px;
    width: 150px;
    position: absolute;
    bottom: 50px;
}

h1,h2,h3,h4,h5,h6 {
    color: #fff8d8;
    /*opacity: 0.75;*/
}

.form-select,.input-group {
    /*opacity: 0.75;*/
}

button {
    /*color: #f4e0cb;*/
}

.templateBorder {
    padding: 8px;
    border: 15px solid #f4e0cb;
    border-radius: 8px;
    /*opacity: .5;*/
}