/*
multi
line
comment
*/

.fancy-header {
    color: purple; /* single line comment */
    text-decoration: underline;
}

#top {
    text-align: center;
}

h3 {
    color: black;
    text-decoration-style: dotted;
    text-decoration: underline;
}

body {
    background-color: aliceblue;
    /*Why does '/..' need to be included before /img?*/
}


body {
    background-image: url("/../img/clouds.jpeg");
    background-size: cover;
}

ul {list-style: square}

body {
    font-family: -apple-system;
}

th, td {
    padding: 10px;
    font-size: x-large ;
}

a:link{
    color: red;
}
a:visited{
    color: black;
}
a:hover{
    color: blue;
}
a:active{
    color: green;
}

img {
    height: 25%;
    width: 25%;
}







