/*
multi
line
comment
*/

.fancy-header {
    color: purple; /* single line comment */
    text-decoration: underline;
}

#top {
    text-align: center;
}

h3 {
    color: slategrey;
    text-decoration: underline;
}

body {
    background-color: aliceblue;
    /*Why does '/..' need to be included before /img?*/
}


body {
    background-image: url("/../img/goose.jpeg");
    background-size: contain;
}



